h2, h3{
    margin-top:.5em !important;
}
h2 {
  font-weight: bold;
}
.form-check-input {
  height:1.5em;
  width:1.5em;
}
label {
    display:block !important;
    margin-left:1em;
}
.form-control {
    max-width:200px;
}
tr {
  margin-top:.5em;
}
.form-check-input {
  margin-right:1em;
}
